@font-face {
    font-family: 'metropolis';
    src: url('../fonts/metropolis/Metropolis-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'metropolis';
    src: url('../fonts/metropolis/Metropolis-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-ExtraBold.otf");
    font-weight: bolder;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-Thin.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'metropolis';
    src: url("../fonts/metropolis/Metropolis-LightItalic.otf");
    font-weight: lighter;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, p, a, li, td, th, button, span {
    font-family: 'metropolis';
}

body {
    padding: 0;
    margin: 0;
}
